<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="map"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Mapa
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content padding class="map-container">
  <div id="map_canvas">
  </div>
</ion-content>

