@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

ion-header{


    ion-toolbar{
        padding-left: 14px;
        padding-right: 14px;
        ion-button{
            position:static;
        }
        ion-title{
            --color:black;
            font-size: 18px;
            text-align:center;
        }
        }
    }

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 26px 10px 26px;
    
    h2{
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        color: black;
    }p{
        margin: 0;
        font-size: 14px;
        color: var(--ion-color-primary)
    }
}

default-left-padding{
    padding-left: 26px;
}

.event-slider{
    ion-slide{
        width: 60%;
        margin-right: 10px;
        margin-left: 10px;
        
        ion-col{
            padding-left: 0;

            ion-card{
                width: 100%;
                border-radius: 12px;
                box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
                margin-left: 0;
                margin-top: 0;

                ion-card-header{
                    img{
                        width: 100%;
                    }
                }

                ion-card-content{
                    padding-top: 13px;

                    .date{
                        color: #364f6b;
                        font-size: 10px;
                        margin-bottom: 5px;
                    }
                    
                    .eventname{
                   
                        font-size:14px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    
                    .location{
                        display: flex;
                        align-items: center;
                        color: var(--ion-color-primary);
                        font-size: 10px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

.map-container {
    height: 100%;
  }
        #map_canvas {
         height: 100% !important;
         width: 100% !important;
         top: 0;
         left: 0;
         position: absolute;
        }

ion-searchbar{
  --background: #ffffff;
  color: black;
}