<ion-header class="ion-no-border">
  <ion-toolbar style="background-color: none" no-border>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title style="color: black">Aeroporto mais próximo</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding class="map-container">
  <div id="map_canvas">
    <!-- <ion-searchbar [(ngModel)]="search" (ionchange)="searchChanged()" placeholder="Para onde?"></ion-searchbar> -->
  </div>
</ion-content>
